:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left-sidebar {
    flex: 1;
    order: 1;
    margin-top: calc(20vh - 0.3em);
}

main {
    margin-top: 20vh;
    flex: 2;
    order: 2;

    .content {
        width: 60%;
    }
}

.right-sidebar {
    margin-top: 12vh;
    flex: 1;
    order: 3;

    img {
        width: 80%;
    }
}
